.App {
  text-align: center;
}

.App-header {
    display: flex; /* Enable flexbox layout */
    justify-content: space-between; /* Distribute items with space between them */
    align-items: center; /* Align items vertically in the center */
    padding: 1px 50px;
    background-color: #151b24;
    font-size: calc(10px + 2vmin);
    color: white;
}


.App-body {
    background-color: #282c34;
    /*min-height: 90vh;*/
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}
.input-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-bar-textbox {
    flex-grow: 1;
    padding: 10px;
}
.input-bar-button {
    padding: 10px;
    margin-right: 10px;
}
.input-bar-counter {
    margin-left: 10px;
}
.question-input {
    width: 90%;
    height: 100px;
    font-size: 23px;
    padding: 10px;
    text-align: left; /* Ensure normal text aligns to the left */
    vertical-align: top; /* Align text to the top */
}
.question-input::placeholder {
    text-align: left; /* Align placeholder text to the left */
    vertical-align: top; /* Align placeholder text to the top */
    padding: 0;
    color: #aaa; /* Optional: Change placeholder text color */
}
.question-input-label{
    font-size: 23px;
    margin-bottom: 10px;
}
.questions-counter{
    font-size: 23px;
    margin-top: 10px;
}

.questionLog {
    list-style-type: none;
    list-style-position: outside;

}

.App-logos {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
.logo {
    height: 7vmin;
    pointer-events: auto;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}
.logo:hover {
    transform: scale(1.1); /* Increase the size by 10% when hovered */
}







/* Cianned */




.secretWord {
    filter: blur(5px);
    font-size: 50px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}